*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
h2{
    font-size: 1.1rem;
}
.blog-main{
    margin: 2rem 0rem;
    padding: 1.5rem;
    padding-bottom: 10rem;
}
bannar{
    width: 100%;
    max-width: 1270px;
    max-height: 200px;
}
bannar img{
    width: 100px;
    height: auto;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    /*align-items: center; ===this will make the text to have different alignment at the top*/
    text-align: justify;
}
.blog{
    flex-basis: 30%;
    padding: 0.5rem;
    border: 2px solid green;
    
}
.blog p{
    z-index: 1000px;
    margin: 0.6rem 0rem;
    line-height: 1.6;
    max-height: 50px !important;
    font-size: 0.8rem;
    overflow: hidden;
    border: 2px solid red;
    
}
.blog p.show_all{
    max-height: 100% !important;
    overflow: hidden;
   
}
.blog .read-more{
    text-decoration: none;
    color: chocolate;
}
.blog .read-more:hover{
    border-bottom: 2px solid #e82921;
}
@media screen and (max-width:900px){
    .wrapper{
        display: flexbox;
        flex-direction: column;
        justify-content: space-around;
    }
}