*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
h2{
    font-size: 1rem;
}
main{
    margin: 2rem 0rem;
    padding: 1.5rem;
    
}

.container__1{
    display: flex;
    justify-content: space-around;
    /*align-items: center; ===this will make the text to have different alignment at the top*/
    text-align: justify;
}
.colu{
    flex-basis: 30%;
    padding: 0.5rem;
}
.colu>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 30%;
    margin-top: 0.5rem;
}
.colu>p{
    margin: 0.6rem 0rem;
    line-height: 1.6rem;
    max-height: 50px;
    width: 100%;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
    font-size: 1rem;
}
.colu>p.show__full{
    max-height: 100%;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
   
}
.colu>.more{
    margin-left: 0.3rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: chocolate;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
}
.colu>.more:hover{
    background: #1d3044;
    border-bottom: 2px solid #e82921;
    width: 150px;
    height: 20rem;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;  
}
@media screen and (max-width:900px){
    .container__1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}